.profile-pic {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    border: 50px solid #fdd998;
    border-radius: 10px;
    /* padding: 50px; */

    display: block;
    height: auto;
    object-fit: cover;
}

.contact-info {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 50px solid #fdd998;
    border-radius: 10px;
    height: 900px;
    width:700px;

    display: block;
    height: auto;
    object-fit: cover;

}

.lets-connect {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 50px solid #fdd998;
    border-radius: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
    height: 900px;

    
    height: auto;
    object-fit: cover;

    /* padding: 50px; */
}
.full-carousel {
/* height: 500px;
width: 500px; */
/* background-color: grey; */
display: block;
    margin-left: auto;
    margin-right: auto;

    height: auto;
    object-fit: cover;
}

.card-title {
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    
}

.card-button{
    margin-top: 50px;
    margin-bottom: 105px;
align-content: center;
background-color: #f5b971;
border: #f5b971;
}

.fa-5x {
   color: #293462;
   margin-top: 110px;
}

.double-button {
    margin-top: 5px;
   margin-right: 5px;
   margin-bottom: 5px;
   background-color: #f5b971;
   border: #f5b971;
}
.card-button:hover, .double-button:hover, .card-button:focus, .double-button:focus {
    background-color: #293462;
    border: #293462;
}