.profile-pic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 50px solid darkolivegreen;
    border-radius: 10px;
    /* padding: 50px; */
}

.contact-info {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 50px solid darkolivegreen;
    border-radius: 10px;
    height: 900px;
    width:700px;

}

.lets-connect {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 50px solid darkolivegreen;
    border-radius: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
    height: 900px;

    /* padding: 50px; */
}
.full-carousel {
/* height: 500px;
width: 500px; */
/* background-color: grey; */
display: block;
    margin-left: auto;
    margin-right: auto;
}

.card-title {
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    
}

.card-button{
    margin-top: 50px;
    margin-bottom: 105px;
align-content: center;
}

.fa-5x {
   color: blue;
   margin-top: 110px;
}

