.profile-pic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 50px solid darkolivegreen;
    border-radius: 10px;
    /* padding: 50px; */
}


.lets-connect {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 50px solid darkolivegreen;
    border-radius: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
    /* padding: 50px; */
}
.full-carousel {
/* height: 500px;
width: 500px; */
/* background-color: grey; */
display: block;
    margin-left: auto;
    margin-right: auto;
}
