@media only screen and (max-width: 600px) {
    h1 {
        margin-bottom: 45px;
        font-size: 40px;
        /* word-wrap: break-word;
        -webkit-hyphens: auto;
        -moz-hyphens: auto;
        -ms-hyphens: auto;
        -o-hyphens: auto;
        hyphens: auto; */
    }
  }



.jumbotron {
    background-color: #eeb76b;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 40px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
}