.style-images {
    /* padding: 4px; */
    width: 250px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    align-content: center;
    margin-bottom: 30px;
    margin-left: 30%;
    margin-top: 30px;
}

