.footer {
    background-color: gray;
    padding: 30px;
    margin: 40px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    margin-bottom: 55px;
    margin-top: 30px;
    color: white;
    font-size: larger;
    font-family: 'Comfortaa', cursive;
    font-weight: 5px;

}