.full-card {
/* border: 3px solid black; */
/* padding: 10px; */
/* align-content: center; */
background-color: #797D62;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
/* margin: 120px; */
}

.card-body {
background-color: #797D62;
/* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
margin: 30px, 10px, 10px, 10px;
/* font-family: 'Comfortaa', cursive; */
}

.card-image {
    margin: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /* margin: 30px, 10px, 10px, 10px; */
    /* float: left; */
    display: block;
    height: auto;
    object-fit: cover;
    /* align-content: center; */
}

.card-deck {
    margin: 30px;


}

.title {
    font-family: 'Comfortaa', cursive;
    font-weight: bolder;
}

.text {
    font-family: 'Comfortaa', cursive;
}